 html,
 body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-image: url("fundo.jpg");
            background-color: #cccccc;
}
        
#map {
     height: 100%;
}